annotated-types==0.6.0
certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.4.3
dataclasses-json==0.6.4
exceptiongroup==1.2.0
idna==3.7
iniconfig==2.0.0
marshmallow==3.21.0
mypy-extensions==1.0.0
packaging==23.2
pluggy==1.4.0
pydantic==2.6.3
pydantic_core==2.16.3
pytest==8.0.2
requests==2.31.0
requests-mock==1.11.0
six==1.16.0
tomli==2.0.1
typing-inspect==0.9.0
typing_extensions==4.10.0
urllib3==2.2.1
bleach==6.1.0