annotated-types==0.6.0
certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.4.3
exceptiongroup==1.2.0
idna==3.6
iniconfig==2.0.0
packaging==23.2
pluggy==1.4.0
pydantic==2.6.3
pydantic_core==2.16.3
pytest==8.0.2
requests==2.31.0
tomli==2.0.1
typing_extensions==4.10.0
urllib3==2.2.1
